footer p {
  color: #FFF;
  margin: 0;

}

.nav-link {
  color: #FFF;
}

.nav-link:hover {
  color: #F00
}

div p {
  font-size: 20px;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 0 5px #333;
}

